

    <div class="jumbotron">
        <h1>CPA02 </h1>
        <p></p>
    </div>

    <p class="p-3 m-3 border border-primary bg-light">
        The goal of this assignment is to write an app that will let
        students create projects. You must signup or login to add
        projectss and modify it.
    </p>
    
    LoggedIn: <%= loggedIn %>


